/*-----------------------------------
CADMIUM GUIDE CONTENT PAGES

Author: meltmedia
Date: 2012
------------------------------------*/

/*-----------------------------------
Global Styles
------------------------------------*/

html { -webkit-text-size-adjust: none; }

body {
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 { margin-bottom: 20px; }

h1 { font-size: 28px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }

p, ul, ol, dl {
  color: #666;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px;
}

/*-----------------------------------
Header
------------------------------------*/

header {
  border-top: 10px solid #cbbd27;
  box-shadow: 0 9px 5px #fff;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header div {
  background: #fff;
  border-bottom: 1px dotted #ccc;
  margin: 0 auto;
  max-width: 920px;
  padding: 15px 20px;
}

header #logo {
  float: right;
  width: 65px;
}

header h1 {
  float: left;
  margin: 10px 0 5px;
  width: 80%;
}

header h2 { margin: 0; }

header h2 {
  color: #666;
  float: left;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  width: 80%;
}

/*-----------------------------------
Content and Nav Container
------------------------------------*/

#container {
  margin: 0 auto;
  max-width: 920px;
  padding: 150px 20px 60px;
  position: relative;
  z-index: 1;
}

/*-----------------------------------
Navigation
------------------------------------*/

nav {
  float: left;
  font-size: 15px;
  width: 30%;
}

nav ul {
  border-left: 2px solid #97bbc4;
  line-height: 18px;
  position: fixed;
  width: 20%;
  min-width: 100px;
}

nav a {
  color: #555;
  display: block;
  padding: 10px;
  text-decoration: none;
}

nav a:hover { border-left: 6px solid #c6d8dd; }
nav a.active { border-left: 6px solid #97bbc4; }

/*-----------------------------------
Main Content
------------------------------------*/

#content {
  float: right;
  position: relative;
  width: 70%;
}

#content h2 { margin-top: 30px; }

#content ul, #content ol { margin-left: 40px; }
#content ul { list-style-type: disc;}
#content ol { list-style-type: decimal; }

#content a { color: #6b949e; }

#content img {
  border: 1px solid #ccc;
  display: block;
  margin: 25px 0;
  width: 100%;
}

.snippet {
  background: #444;
  border-radius: 5px;
  color: #fff;
  font-family: "Courier New", Courier, Times, serif;
  line-height: 21px;
  margin-bottom: 20px;
  padding: 20px;
}

#top-link { display: none; }

/*-----------------------------------
Clearfix
------------------------------------*/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.outline ul li { list-style: circle; }
.outline ul li li { list-style: square; }
.outline ul li li li { list-style: disc; }

/*-----------------------------------
Media Queries
------------------------------------*/

/*********************************/
/* --- Max Screen 550px wide --- */
/* ----------------------------- */

@media only screen 
and (max-width: 550px) {

  #top-link { display: block; }

  header {
    box-shadow: none;
    position: static;
  }

  header #logo { width: 50px; }

  nav, #content {
    float: none;
    width: 100%;
  }

  nav ul {
    position: static;
    width: 100%;
  }

  #container { padding-top: 20px; }

  h1 { font-size: 24px; }
  h2 { font-size: 18px; }
  h3 { font-size: 16px; }

  p, ul, ol, dl, .snippet {
    font-size: 14px;
    line-height: 20px;
  }

} /* end 550px wide */
