<nav>
  <ul>
    <li><a href="/" class="active">Overview</a></li>
    <!--
    <li><a href="/install-cli.html">Installing the CLI</a></li>
    <li><a href="/content-structure.html">Content Structure</a></li>
    <li><a href="/content-distribution.html">Content Distribution</a></li>
    <li><a href="/history.html">History</a></li>-->
  </ul>
</nav>
