<nav>
  <ul>
    <li><a href="/" class="active">Overview</a></li>
    <li><a href="/started.html">Getting Started</a></li>
    <li><a href="/content-structure.html">Documentatoin</a></li>
    <li><a href="/cli.html">Working with the CLI</a></li>
	<li><a href="/tutorials.html">Tutorials</a></li>
  </ul>
</nav>
