---
title: 'Overview'
layout: 'guide'
---

<h1>Overview</h1>
<h2>What is Cadmium?</h2>
<p>Cadmium is a static content distribution system backed by <a href="http://www.github.com">GitHub</a> repositories.  It provides the following features:</p>
<ul>
  <li>Dynamic Content Update</li>
  <li>Content Cloning</li>
  <li>History</li>
  <li>Search</li>
  <li>Email This Page</li>
  <li>Ssh Required Pages</li>
  <li>Vanity URLs</li>
</ul>


